body{
    font-family: "Pixeloperator", monospace;
    margin: 0;
    padding: 0;
    background-image: url("imagens/background.gif");
    background-size: 250px;
    min-height: 100vh;
}

h1{
    text-align: center;
    font-size: clamp(16px, 5vw, 48px);
    word-wrap: break-word;
}

#smapton{
    margin: 0 auto;
    display: block;
}

.content{
    max-width: 75%;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 20px;
    border: 3px solid white;
    margin: 25px auto;
    text-align: justify;
}

p{
    text-indent: 1.5em;
    line-height: 1.2;
}

li{
    margin-bottom: 10px;
}

a:link, a:visited{
    color: white;
    text-decoration: underline dashed white;
}

a:hover{
    color: grey;
}

a:active{
    color:#ff2bce;
}

.video-wraper{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.video{
    aspect-ratio: 1 / 1;
    max-width: 35%;
    border-radius: 20px;
}

.nick{
    color: #ff2bce;
    font-size: larger;
}

.uruedo{
    color: #ffed2b;
    font-size: larger;
}

.production{
    color:#ff9e1e
}

#id a{
    font-weight: bold;
}
footer{
    color: white;
    text-align: center;
    font-weight: bolder;
    max-width: 75%;
    margin: 0 auto;
}

@font-face {
  font-family: 'PixelOperator';
  src: url('fonts/pixel_operator_8.ttf') format('truetype');
}